<!--<!DOCTYPE html>-->
<!--<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"-->
      <!--xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">-->
    <!--<head>-->
        <!--<title>Spring Security</title>-->
    <!--</head>-->
    <!--<body>-->
        <!--<div th:if="${param.error}">-->
            <!--Invalid username and password.-->
        <!--</div>-->
        <!--<div th:if="${param.logout}">-->
            <!--You have been logged out.-->
        <!--</div>-->
        <!--<form th:action="@{/login}" method="post">-->
            <!--<div><label> User Name : <input type="text" name="username"/> </label></div>-->
            <!--<div><label> Password: <input type="password" name="password"/> </label></div>-->
            <!--<div><input type="submit" value="Sign In"/></div>-->
        <!--</form>-->
    <!--</body>-->
<!--</html>-->

<!--<!DOCTYPE HTML>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
    <!--<title>JJ Booleans IOT App</title>-->
    <!--<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />-->
    <!--<link rel="stylesheet" type="text/css" href="/buttonstyle.css">-->
<!--</head>-->
<!--<body>-->
    <!--<h1>User Login</h1>-->
        <!--<form action="#" th:action="@{/user/login}" th:object="${user}" method="post">-->
            <!--<p>Username: <input type="text" th:field="*{userName}" /></p>-->
            <!--<p>Password: <input type="text" th:field="*{password}" /></p>-->
            <!--<p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>-->
        <!--</form>-->
        <!--<div th:if="${error}">-->
            <!--<p style="display: inline-block; margin: 0" th:text="${error}" />-->
        <!--</div>-->
    <!--<input type="button" class="button button1" onclick="location.href='/user/registration'" value="Register">-->
<!--</body>-->
<!--</html>-->